[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=fvwm1
TryExec=fvwm1
Name=FVWM
Comment=A powerful ICCCM-compliant multiple virtual desktop window manager
Comment[nl]=Een krachtige ICCCM-compliant window manager met meerdere bureaubladen
Comment[pl]=Potężny, zgodny z ICCCM zarządca okien o wielu wirtualnych pulpitach
Comment[sr]=Моћни, ICCCM-сагласни, менаџер прозора са више виртуелних радних површина
Comment[sv]=En kraftfull fönsterhanterare med flera virtuella skrivbord som följer ICCCM
# vi: encoding=utf-8
